
<legend>Clientes</legend>

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputNome">Nome</label>
    <div class="controls">
      <input type="text" placeholder="Nome" ng-model="cliente.nome">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEndereco">Endereço</label>
    <div class="controls">
      <input type="text" placeholder="Endereço" ng-model="cliente.endereco">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputCpf">CPF</label>
    <div class="controls">
      <input type="text" placeholder="CPF" ng-model="cliente.cpf">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputCidade">Cidade</label>
    <div class="controls">
      <input type="text" placeholder="Cidade" ng-model="cliente.cidade">
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <a class="btn btn-inverse" ng-hide="cliente.id" ng-click="salvar()"> <i class="icon-plus icon-white"></i> Salvar</a>
      <a class="btn btn-inverse" ng-show="cliente.id" ng-click="editar_cliente_selecionado()"> <i class="icon-plus icon-white"></i> Editar</a>
      <a class="btn" ng-click="limpar()"> <i class="icon-ban-circle"></i> Limpar</a>
    </div>
  </div>
</form>

<legend>Lista de usuários</legend>
<div class="alert" ng-hide="has_clientes">
  <strong>Atenção!</strong> Não foi encontrado nenhum usuário salvo.
</div>

<table class="table table-hover" ng-show="has_clientes">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Endereco</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="cliente in clientes">
      <td>{{cliente.id}}</td>
      <td>{{cliente.nome}}</td>
      <td>{{cliente.endereco}}</td>
      <td>
        <a class="btn btn-mini btn-primary" ng-click="editar(cliente)"><i class="icon-edit icon-white"></i></a>
        <a href="#visualizarCliente" class="btn btn-mini btn-info" data-toggle="modal" ng-click="visualizar(cliente)"><i class="icon-search icon-white"></i></a>
        <a class="btn btn-mini btn-danger" ng-click="excluir(cliente)"><i class="icon-trash icon-white"></i></a>
      </td>
    </tr>
  </tbody>
</table>

<div id="visualizarCliente" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
    <h3>Visualização do usuário</h3>
  </div>
  <div class="modal-body">
    <address>
      <strong>{{cliente_para_visualizacao.nome}}</strong><br>
      <abbr title="Endereço">Endereço:</abbr> {{cliente_para_visualizacao.endereco}} <br>
      <abbr title="CPF">CPF:</abbr> {{cliente_para_visualizacao.cpf}} <br>
      <abbr title="Cidade">Cidade:</abbr> {{cliente_para_visualizacao.cidade}} <br>
    </address>
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal">Close</a>
  </div>
</div>